# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env

# Stable Diffusion related
*.ckpt
*.safetensors
*.pth
sd-webui/models/
outputs/
sd-webui/outputs/
sd-webui/venv/
sd-webui/embeddings/
sd-webui/config.json
sd-webui/ui-config.json
sd-webui/params.txt
sd-webui/cache/
sd-webui/tmp/

# OS specific
.DS_Store
.vscode/
.idea/

# Project specific
output.png

# Ignore generated images and database files
service/static/images/
*.db
*.sqlite3
instance/ 